<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <!--Nvabar-->
    <%- include('../partials/navbar')%>

    <!-- Main -->
    <% const setUrl = ( key, value) => { // copy the query object const
    tempQuery = { ...query }; tempQuery[key] = value;
    return`${url}?${Object.keys(tempQuery) .map((key) =>
    `${key}=${tempQuery[key]}`) .join('&')}` } %>

    <div class="container mt-5">
      <h2 class="display-4">Latest books</h2>
    </div>
    <main class="mt-5">
      <div class="container">
        <div class="row">
          <!-- side filter -->
          <aside class="side-filter col-12 col-md-3">
            <!-- search -->
            <form
              class="d-flex"
              id="search-form"
              role="search"
              action="/books"
              method="GET"
            >
              <input
                class="form-control me-2"
                id="search-input"
                value="<%= query.search_query || '' %>"
                type="search"
                name="search_query"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success"
                type="submit"
                id="search-btn"
              >
                Search
              </button>
            </form>
            <!-- sort -->
            <div class="card mt-3">
              <div class="card-header">Sort</div>
              <div class="card-body">
                <h5 class="card-title">Sort by</h5>

                <% let sort = query.sort || ''; if (!['created_at',
                'price','title'].includes(sort)) { sort= 'created_at' } let
                order = query.order ; if (!['desc', 'asc'].includes(order)) {
                order= 'desc' } %>
                <!-- date -->
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"
                  value="created_at" name="sort" id="date"
                  onclick="window.location.href = '<%=
                  setUrl('sort','created_at') %>';" <%= sort ==
                  'created_at'?'checked':''; %> />
                  <label class="form-check-label" for="date"> Date </label>
                </div>
                <!-- price -->
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" value="price"
                  name="sort" id="price" onclick="window.location.href = '<%=
                  setUrl('sort','price') %>';" <%= sort == 'price'?'checked':'';
                  %> />

                  <label class="form-check-label" for="price"> Price </label>
                </div>
                <!-- title -->

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sort"
                  value="title" id="title" onclick="window.location.href =
                  '<%=setUrl('sort','title') %>';" <%= sort ==
                  'title'?'checked':''; %> />
                  <label class="form-check-label" for="title"> Title </label>
                </div>
                <h5 class="card-title mt-3">Order by</h5>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order"
                  value="desc" id="desc" <%= order ==
                  'desc'?'checked="true"':''; %> onclick=" window.location.href
                  = '<%= setUrl('order','desc') %>'; " />
                  <label class="form-check-label" for="desc">
                    Descending
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" value="asc"
                  name="order" <%= order == 'asc'?'checked="true"':''; %>
                  id="asc" onclick=" window.location.href = '<%=
                  setUrl('order','asc') %>'; " />
                  <label class="form-check-label" for="asc"> Ascending </label>
                </div>
              </div>
            </div>

            <!-- filter 
            <div class="card mt-3">
              <div class="card-header">Filter</div>
              <div class="card-body">
                <h5 class="card-title">Language</h5>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="arabic"
                    id="arabic"
                    onclick=" window.location.href = '<%=
                  setUrl('language','arabic') %>'; "
                  />
                  <label class="form-check-label" for="arabic"> Arabic </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="english"
                    id="english"
                  />
                  <label class="form-check-label" for="english">
                    English
                  </label>
                </div>
              </div>
            </div>
          --></aside>
          <!-- latest book -->
          <section class="latest-books col-12 mt-md-0 mt-4 col-md-9">
            <!-- list of books -->
            <div class="row gy-4 books-list">
              <% if (typeof books == 'undefined' || books.length == 0) { %>
              <h3 class="text-center">There is no books</h3>
              <% }else{ %> <% books.forEach(book => { %>
              <article class="book-item col-12 col-md-6 col-xl-4">
                <div class="card">
                  <div class="card-body">
                    <a
                      href="/books/<%= book.id %>"
                      class="text-decoration-none text-dark"
                    >
                      <h5 class="card-title"><%= book.title %></h5>
                    </a>
                    <p class="text-secondary mb-0"><%= book.author %></p>
                    <p class="card-text text-truncate">
                      <%= book.description %>
                    </p>
                    <div class="genres">
                      <div class="badge text-bg-secondary">
                        <%= book.genre %>
                      </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 mt-2">
                      <i class="fa-solid fa-language fa-lg"></i>
                      <p class="text-secondary mb-0 text-capitalize">
                        <%= book.language %>
                      </p>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between mt-4"
                    >
                      <button
                        type="button"
                        class="btn btn-primary"
                        onclick="addToCart('<%=JSON.stringify(book)%>')"
                      >
                        <i class="fa-solid fa-cart-shopping"></i>
                        add to cart
                      </button>
                      <p class="text-success mb-0 fs-4">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <%= book.price %>
                      </p>
                    </div>
                  </div>
                </div>
              </article>
              <% }) %>
              <nav class="mt-4">
                <ul class="pagination justify-content-center">
                  <% for( let i = 1; i <= pagination.pages; i++ ) { %>
                  <li
                    class="page-item <%= i == pagination.current_page?'active':'' %>"
                  >
                    <a class="page-link" href="<%= setUrl('page',i) %>"
                      ><%= i %></a
                    >
                  </li>

                  <% } %>
                </ul>
              </nav>

              <% } %>
            </div>
          </section>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer'); %>
    <!-- Bootstrap JS files -->
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>

    <script>
      const addToCart = (book) => {
        const cart = JSON.parse(localStorage.getItem('cart')) || []
        cart.push(JSON.parse(book))
        localStorage.setItem('cart', JSON.stringify(cart))
        alert('Book added to cart')
      }
    </script>
  </body>
</html>
