<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/navbar') %>
    <main class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-md-6 col-lg-8 col">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="display-4">Profile</h2>
              <!-- <a href="/profile/edit" class="btn btn-primary">
                <i class="fa-solid fa-pen"></i> Edit
              </a> -->
            </div>
            <div class="mt-5">
              <i class="fa-solid fa-circle-user fa-5x text-body-tertiary"></i>
            </div>
            <h2 class="fs-4 mt-4"><%= user.username %></h2>
            <p class="fs-5 text-body-secondary"><%= user.email %></p>

            <ul class="list-group mt-3">
              <a
                href="/profile/orders"
                class="fs-5 list-group-item list-group-item-action"
              >
                <i class="fa-solid fa-list-ul me-2"></i>My orders</a
              >
              <a
                href="/logout"
                onclick="localStorage.clear()"
                class="fs-5 list-group-item list-group-item-action text-danger"
              >
                <i class="fa-solid fa-right-from-bracket me-2"></i>
                Logout</a
              >
            </ul>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer'); %>
    <!-- Bootstrap JS files -->
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
